#regist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 100%;
}

mat-form-field {
  margin-right: 30%;
  margin-left: 30%;
}

.component {
  height: 100vh;
  justify-content: center;
  text-align: center;
}

form div {
  padding: 5px 5px 5px 5px;
}

form {
  display: inline-grid;
  width: 100%;
  align-self: center;
  justify-content: center;
}

button {
  width: 200px;
  padding: 5px;
  margin: 10px;
  background-color: darkgreen;
  color: white;
}

h1 {
  margin: 20px;
}
