<div class="component" id="main">
  <h1>ÜDVÖZLÜNK AZ OLDALUNKON!</h1>
  <h2>Felejthetetlen élmények várnak rád, ha csatlakozol hozzánk!</h2>
  <mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile><img src="../../../assets/tabor1.jpg" alt="Camp1"></mat-grid-tile>
    <mat-grid-tile><img src="../../../assets/tabor2.jpg" alt="Camp2"></mat-grid-tile>
    <mat-grid-tile><img src="../../../assets/tabor3.jpg" alt="Camp3"></mat-grid-tile>
    <mat-grid-tile><img src="../../../assets/tabor4.jpg" alt="Camp4"></mat-grid-tile>
  </mat-grid-list>
</div>
